:root {
  --font-color: black;
  --border-color: #c4c4c4;
  --bg-color: white;
  --gradient-color-start: rgb(16, 16, 255);
  --gradient-color-end: rgb(1, 255, 1);
  /*
  --bg-color-alt: black;
  --bg-color-red: #ee7869;
  */
}

@media (prefers-color-scheme: dark) {
  :root {
      --font-color: #c4c4c4;
      --border-color: #c4c4c4;
      --bg-color: rgb(52, 52, 52);
      --gradient-color-start: rgb(16, 16, 85);
      --gradient-color-end:rgb(1, 88, 1);
      /*
      --bg-color-alt: #252525;
      --bg-color-red: #300002;
      */
  }
}

* {
  color:var(--font-color);
  box-sizing: border-box;
  margin: 0;
  font-family: 'Merriweather Sans', Georgia, sans-serif;
}


body {
  background-image: linear-gradient(to bottom right, var(--gradient-color-start), var(--gradient-color-end));
  background-size: 200% 200%;
  min-height: 100vh;
  height: auto;
  width: auto;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.nav_checkbox, .toggle {
  display: none;
}

nav {
  border-bottom: 1px solid var(--border-color);
}

.nav [class*="_menu"] {
  flex-direction: row;
}

.nav li {
  display: block;
}

.nav > ul{
  display: flex;
  width:100%;
  justify-content: space-evenly;
  padding: 0 0 1em;
  margin-top: 1em;
}

nav a {
  text-decoration: none;
  font-size: 1.5rem;
}

.about {
  padding-left: 10%;
  font-size: 1.5rem;
}

footer {
  margin-top: 10%;
  text-align: center;
}
h1 {
  text-align: center;
  font-size: 2.5rem;
}

h2 {
  padding: 1rem 1rem 1rem 0;
}

header {
  text-align: center;
}

p {
  padding: 1em;
}

.projects_main h2 {
  padding-left: 1em;
}

.project, .portrait {
  display: grid;
  width: 75%;
  grid-template-columns: 50% 50%;
  margin-bottom: 1em;
  border: 1px solid var(--border-color);
  border-radius: 1em;
  margin: 1em auto 1em auto;
  font-size: 1.4em;
}

.project li {
  padding-left: 1em;
  padding-top: 1em;
}

.project img {
  object-fit: fill;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

form {
  width: 50%;
  margin: auto;
  text-align: center;
}

fieldset {
  border-radius: 1em;
}

input, select, textarea, button {
  background-color: var(--bg-color);
  border: none;
}

input, select, textarea {
  width: 75%;
}

textarea {
  resize: none;
  height: 4em;
}

table {
  border-collapse: collapse;
}


tr, td { 
  border: 1px solid var(--border-color);
}

header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.musings {   
  float: left;
  width: 74%;
  margin-left: 1%;
}

/* Right column */
.sidebar {
  float: left;
  width: 23%;
  padding: 1.5em;
  border: 1px solid var(--border-color);
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2em;

}

img {
  object-fit: contain;
  padding: 1em;
  max-width: 100%;
}

.introduction {
  grid-template-columns: 30% 70%;
}

picture {
  margin-left: auto;
  margin-right: auto;
}

.portrait picture {
  height: 50%;
}
.portrait p {
  padding: 1em;
}

article {
   border: 1px solid var(--border-color);
   padding: 5%;
   margin-bottom: 2em;
   font-size: 1.4em;
}

pre, pre code {
  overflow: scroll;
  overflow-y: hidden;
  max-width: 100vw;
  width: inherit;
}

td:nth-child(1) {
  padding-left: 1em;
}

figcaption {
  text-align: center;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

#native-dialogs {
  margin-top: 1em;
}

#out {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  min-height: 4em;
  justify-content: center;
}

button {
  cursor: pointer;
}

#out:not(:empty) {
  border: 3px solid var(--border-color);
  border-style: double;
}

dialog {
  margin: auto;
  background-color: var(--bg-color);
  overflow: auto; 
  text-align: center;
  width: 50%;
}

#dialog-form {
  width: auto;
}

#custom-dialogs {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.dialog-content {
  background-color: var(--bg-color);
  margin: 20% auto;
  padding: 20px;
  border: 1px solid var(--border-color);
  width: 50%; 
  overflow: hidden;
  justify-items: right;
}

.close, .no, .yes {
  border: 1px solid var(--border-color);
  color: var(--font-color);
  margin: 1em;
  position:relative;
  float: right;
}

.edit, .del {
  font-size: 2em;
  width: 2ch;
  height: 2ch;
}

.close:hover, .close:focus,
.no:hover, .no:focus, 
.yes:hover, .yes:focus {
  text-decoration: none;
  cursor: pointer;
}

.dialog-input{
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--border-color);
}

.dialog-label {
  margin-right: 1ch;
}

#safe {
  display: none;
}

.blog {
  margin: 1em;
  border: 1px solid #c4c4c4;
  border-radius: 1em;
  width: 73%;
  padding: 1em;
  float: left;
}

.blog-post {
  border: 1px solid #c4c4c4;
  margin-bottom: 1em;
  padding: 1em;
}

.edit {
  margin-right: 1em;
}

.center {
  text-align: center;
}

#button-add {
  width: 75%;
  height: auto;
}



@media screen and (max-width: 768px) {
  .toggle {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    width: fit-content;
    padding: 0.5em;
  }

  #nav_checkbox:checked ~ ul.nav_menu li {
    transition: 0.3s ease-in;
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--border-color);
  }

  #nav_checkbox:checked ~ ul.nav_menu li:first-of-type {
    border-top: 1px solid var(--border-color);
    padding-top: 1rem;
  }

  #nav_checkbox:checked ~ ul.nav_menu li:last-of-type {
    border-bottom: none;
  }
  

  .nav [class*="menu"] {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  [class*="menu"] li{
    list-style: none;
    display: none;
    font-size: larger;
  }

  [class*="menu"] a{
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
  }

  .nav [class*="menu"] svg{
    width: 1.5rem;
    fill: #c4c4c4
  }

  input[type=checkbox]:checked ~ .menu{
    display: block; 
  }

  .project, .portrait {
    grid-template-columns: auto;
  }


  img {
    width: 100%;
  }

  .musings, .sidebar, form, .blog-post {
    width: 100%;
    padding: 0;
    margin:0 0 1em 0;
  }

  table, thead, tbody, th, td, tr { 
		display: block; 
	}

  th { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	td { 
		border: none;
		border-bottom: 1px solid var(--border-color); 
		position: relative;
    object-position: center;
	}


  td figure {
    text-align: center;
  }
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
  
  #button-add {
    margin:1em;
    float:none;
  }
}
